@import './vars.css';
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

.App {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    color: var(--primary-color)
}
header {
  display: flex;
  justify-content: center;
}
nav {
  height: 44px;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  padding-bottom: 4px;
  width: 75%;
}
nav a{
  text-decoration: none;
  color: var(--color-text);
  transition: color 0.3s ease;
}
a:hover {
  color: var(--secondary-color); /* Color when hovered */
 }
body{
  background-image: url('../public/background.jpg');
  background-size: cover;
}
main {
  /* background-image: url('../public/background.jpg');
  background-size: cover; */
  color: var(--color-text);
  display: flex;
  justify-content: center;
  height:1000px;
  padding-top: 25%;
}
main h1 {
  font-size: 100px;
  font-weight:bolder;
}
main h2{
  font-size: 25px;
  width: 75%;
}
.summary{
  width: 75%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.about{
  width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 3fr 1fr;
}
.aboutSummary{
  text-align: center;
}
/*Socials*/
.socials {
  width: 50%;
    display: flex;
    justify-content: center;
}
.card {
  width: fit-content;
  height: fit-content;
  /* background-color: rgb(238, 238, 238); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  /* background-color: rgb(44, 44, 44); */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: black;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

